div.bFXyQu {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0px;
  padding: 0px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  width: 100%;
}

div.bFXyQu > div:first-child {
  margin: 0px;
  padding: 0px 8px;
  border-right: 1.5px solid hsl(0, 0%, 80%);
}

div.bFXyQu:hover {
  border-color: var(--hover-color);
}

div.bFXyQu:hover > div:first-child {
  border-color: rgba(0, 0, 0, 0.6);
}

div.bFXyQu > input {
  margin: 2px;
  padding: 6px;
  border: none;
  width: 100%;
  outline: none;
}
