div.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 700px;
  min-width: 200px;
  background-color: white;
}
div.container > div.optionsContainer {
  display: flex;
  gap: var(--space);
  margin-bottom: 18px;
}
div.container > div.inputContainer {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--space);
  justify-content: space-between;
  margin: 5px 0px;
  padding: 0px;
  width: 100%;
}
div.container > div.selectContainer {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--space);
}
div.container button {
  border: none;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}
div.container button:hover {
  background-color: var(--hover-color);
}
div.container > footer {
  margin-top: 18px;
  padding-top: 8px;
  border-top: 1px solid var(--primary-color);
  text-align: center;
}
div.container > footer > a {
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-color);
}
div.container > footer > a:hover {
  color: var(--hover-color);
}
