@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: "Dosis", sans-serif;
}
input {
  font-size: 1em;
  font-family: "Dosis", sans-serif;
}
:root {
  --primary-color: #0072b5;
  --hover-color: royalblue;
  --space: 12px;
}
